body{
        background-color:rgb(24, 22, 22);
        color:dimgray;
        text-align: center;
    }
p{
    font-size: 23px;
    color:dimgray;
}

hr{
    height: 1px; 
    background-color:rgba(54, 48, 48, 0.74) ;
    border: none;
}

h1,h2{
    text-align: center;
    color:rgba(145, 0, 0, 0.788);     
    font-weight: 400;
}

h2 a:link{
    color:rgba(145, 0, 0, 0.788);     
    text-decoration: none; 
}

h3 a:link{
    color:dimgray;
    text-decoration: none; 
}

a:hover{
    font-style: italic;
    text-decoration: none;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


spam{
    font-weight: 200;
    font-style: italic; 
    color:rgba(119, 25, 25, 0.788);     
}
