body,p{
        background-color:rgb(24, 22, 22);
        color:dimgray;
        font-weight: normal;
        text-align: center;
    }

h1,h3{
    text-align: center;
    color:rgba(145, 0, 0, 0.788);     
    text-decoration: none; 
}

h2 {
    color:dimgray;
    text-align: center;
    font-weight: 100;

}

h3> a:link{ 
color:rgba(145, 0, 0, 0.788);   
}




hr{
    height: 1px;
    background-color:rgba(54, 48, 48, 0.74) ;
    border: none;
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color:dimgray;  
    text-decoration: none;  
}

a:hover{
    color:rgba(192, 0, 0, 0.788);     
    text-decoration: underline;
}

spam{
    font-weight: 200;
    font-style: italic; 
    color:rgba(119, 25, 25, 0.788);     
}
